body {
    font-family: Arial;
    font-size: 12px;
    margin: 0;
    background-color: #111;
    padding: 0;
}

.app-hldr {
  width: 100%;
}

.player-hldr {
	float: left;
	width: 100%;
  background-color: #111;
}

.player {
	height:48px;
}

#jp_container_1 {
  z-index: 2;
}