body, html {
    font-family: Arial;
    font-size: 12px;
    margin: 0;
    background-color: #222;
    padding: 0;
    height:100%;
}

.app-hldr {
  width: 100%;
}

.player-hldr {
	float: left;
	width: 100%;
  background-color: #222;
}

.player {
	height:48px;
}

#jp_container_1 {
  z-index: 2;
}

#map_canvas{
  margin: 0px 150px 0 150px;
  height: 100%;
  display: none;
}