body {
    font-family: Arial;
    font-size: 12px;
    margin: 0;
    background-color: #111;
    padding: 0;
}

.app-hldr {
  width: 100%;
}

.player-hldr {
	float: left;
	width: 100%;
  background-color: #111;
}



.player {
	height:48px;
}




p a.inst {
  width:31px;
  margin:0 18px 0 4px;
}

p a.start {
  width:244px;
  height: 36px;
  margin:20px 23px 0 4px;
  font-size: 30px;
}

.logo-small {
  margin-right:26px;
  margin-top:60px;
}

.logos img {
  padding-left: 10px;
  padding-top: 8px;
  border: 0px;
}

div.logos a {
  text-decoration: none;
  border: 0;
}

div.logos a:hover {
  text-decoration: none;
  border: 0;
}

a.left-logo img {
  padding-left: 0;
}

.corner-link {
  font-size: 20px;
  /*margin-left:62px;*/
  float: left;
}

.pop-link {
  float: right;
  margin-top: -5px;
}

.collaborate {
  padding-bottom: 16px;
}

.more-info {
  font-size: 20px;
  float: right;
}

.panel-num-hldr {
  float: right;
  margin-top: -20px;
  padding-right: 4px;
  font-size: 16px;
  color: #999;
}

.credits {
  font-size: 10px;
}

.d-play {
  font-size: 16px;
  padding-left: 4px;
  padding-top: 24px;
  color: #444;
  font-weight: bold;
}

.d-play a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px dotted #444;
}

.d-play a:hover {
  text-decoration: none;
  border-bottom: 1px dotted #444;
}

.fs-underlay {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;  
  /*background-color:#999;*/
  /*opacity: 0.9;
  filter:alpha(opacity=90); */
  background-color: #000;
  z-index: 1;
}

#jp_container_1 {
  z-index: 2;
}

div.fs-quality-ctrl{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0); /* Makes IE9 work with the active area over the whole video area. IE6/7/8 only have the button as active area. */
    z-index:1000;
}


.fs-quality-ctrl ul, .fs-quality-ctrl p{
    position:relative;
    display:block;
    background-color : #000000;
    opacity: 0.8;
    filter:alpha(opacity=80); 
    width: 120px;
    margin-top : -25px;
    left:50%;
    top:50%;
    z-index:1000;
    color: #fff;
    font-size: 24px;
    padding : 12px;
    margin-left: -72px;
   
}

.fs-quality-ctrl p{
  margin-top: -100px;
  color: #FB9D04;
}

.fs-quality-ctrl li:hover {
  background-color: #333;
  cursor: pointer;
}

.fs-quality-ctrl a{
    color: #fff;
    text-decoration: none;
}